<nz-layout>
    <nz-header>
        <div class="header-content">
            <img src="assets/Logo.png" alt="Logo">
            <a class="profile-dropdown" nz-dropdown [nzDropdownMenu]="menu">
                <div class="profile-img">
                    <img src="assets/profile-icon.png">
                </div>
                <div class="name">Kaushik</div>
                <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
            </nz-dropdown-menu>
        </div>
    </nz-header>
    <nz-content>
        <div class="article-container">
            <div class="article-title">Articles</div>
            <div class="content">
                <div class="filter-section mt-one">
                    <div class="title">Filters</div>
                    <div class="options mt-one">
                        <div class="date">
                            <div class="mt-half">Select Date</div>
                            <nz-range-picker class="mt-4p" [(ngModel)]="date"
                                (ngModelChange)="updateFilter($event, 1)"></nz-range-picker>
                        </div>
                        <div class="category">
                            <div class="mt-half">Category</div>
                            <ng-multiselect-dropdown class="ng-multiselect-drowdown" [placeholder]="'Select category'"
                                [settings]="dropdownSettings" [data]="allCategories"
                                (onSelect)="updateFilter($event, 2)" (onDeSelect)="updateFilter($event, 2)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="author">
                            <div class="mt-half">Author</div>
                            <ng-multiselect-dropdown class="ng-multiselect-drowdown" [placeholder]="'Select author'"
                                [settings]="dropdownSettings" [data]="allAuthors" (onSelect)="updateFilter($event, 3)"
                                (onDeSelect)="updateFilter($event, 3)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="content-section">
                    <nz-tabset [nzTabBarExtraContent]="addArticle">
                        <nz-tab [nzTitle]="all">
                            <app-article [allArticles]="allArticles" (delete)="deleteArticle($event)"></app-article>
                        </nz-tab>
                        <ng-template #all>
                            <span>All</span>
                            <nz-badge class="ml-half badge" nzStandalone [nzCount]="getCount('all')"
                                [nzShowZero]="true"></nz-badge>
                        </ng-template>
                        <ng-container *ngFor="let country of allCountries">
                            <nz-tab [nzTitle]="badge">
                                <app-article [allArticles]="returnArray(country?.name)" (delete)="deleteArticle($event)"></app-article>
                            </nz-tab>
                            <ng-template #badge>
                                <span>{{country?.name}}</span>
                                <nz-badge class="ml-half badge" nzStandalone [nzCount]="getCount(country?.name)"
                                    [nzShowZero]="true"></nz-badge>
                            </ng-template>
                        </ng-container>

                        <!-- <nz-tab [nzTitle]="india"></nz-tab>
                        <ng-template #india>
                            <span>India</span>
                            <nz-badge class="ml-half badge" nzStandalone [nzCount]="getCount('India')"></nz-badge>
                        </ng-template>
                        <nz-tab [nzTitle]="germany"></nz-tab>
                        <ng-template #germany>
                            <span>Germany</span>
                            <nz-badge class="ml-half badge" nzStandalone [nzCount]="getCount('Germany')"></nz-badge>
                        </ng-template>
                        <nz-tab [nzTitle]="indonesia"></nz-tab>
                        <ng-template #indonesia>
                            <span>Indonesia</span>
                            <nz-badge class="ml-half badge" nzStandalone [nzCount]="getCount('Indonesia')"></nz-badge>
                        </ng-template> -->
                    </nz-tabset>
                    <ng-template #addArticle>
                        <button class="add-article" (click)="showDrawer = true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff"
                                class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                            <span>Add New Article</span>
                        </button>
                    </ng-template>
                    <!-- <div class="article-section">
                        <div *ngFor="let article of allArticles" class="card">
                            <div class="image-section">
                                <img class="article-backdrop" [src]="article?.image_url" alt="Article Image">
                                <div class="country-chip">
                                    <img src="assets/flags/{{article?.country_code?.toLowerCase()}}.png" [alt]="article.country" width="20" height="15">
                                    <div class="country-code">{{article?.country_code?.toUpperCase()}}</div>
                                </div>
                            </div>
                            <div class="info-section">
                                <div class="title-section">
                                    <div class="title">
                                        {{article?.title}}
                                    </div>
                                    <div class="extra-actions">
                                        <nz-button-group>
                                            <button class="no-style" nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" nzTrigger="click">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                </svg>
                                            </button>
                                        </nz-button-group>
                                        <nz-dropdown-menu #menu="nzDropdownMenu">
                                            <ul nz-menu>
                                                <li nz-menu-item>Edit</li>
                                                <li nz-menu-item>Delete</li>
                                            </ul>
                                        </nz-dropdown-menu>
                                    </div>
                                </div>
                                <div class="desc mt-half">
                                    {{article?.description?.length > 120 ? article?.description?.slice(0, 120) + '...' : article?.description }}
                                </div>
                                <div class="tags mt-one">
                                    <ng-container *ngFor="let category of article?.category; let i = index">
                                        <div class="tag" *ngIf="i < 2">
                                            {{category}}
                                        </div>
                                    </ng-container>
                                    <div class="tag" *ngIf="article?.category?.length > 2">+{{article?.category?.length - 2}}</div>
                                </div>
                                <div class="footer">
                                    <div class="author-info">
                                        <div class="icon">{{article?.author?.slice(0,1)}}</div>
                                        <div class="name ml-half">{{article?.author}}</div>
                                    </div>
                                    <div class="pub-date">
                                        {{returnDate(article?.created_at)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <nz-drawer [nzClosable]="false" [nzVisible]="showDrawer" nzPlacement="right"
                        [nzTitle]="'Add New Article'" (nzOnClose)="cancel()"
                        [style.display]="showDrawer ? 'block' : 'none'" [nzFooter]="footer">
                        <div *nzDrawerContent>
                            <div class="drawer-content">
                                <form [formGroup]="articleForm">
                                    <div class="input-wrapper">
                                        <!-- Title -->
                                        <label for="title">Title</label>
                                        <input class="mt-half" type="text" placeholder="Enter title" formControlName="title">
                                        <span class="danger mt-qtr" *ngIf="Title.dirty && !Title.valid">Please enter title *</span>
                                    </div>

                                    <div class="input-wrapper mt-one">
                                        <!-- Description -->
                                        <label for="description">Description</label>
                                        <textarea class="mt-half" rows="5" placeholder="Enter description" formControlName="description"></textarea>
                                        <span class="danger mt-qtr" *ngIf="Description.dirty && !Description.valid">Please enter description *</span>
                                    </div>

                                    <div class="input-wrapper mt-one">
                                        <!-- Article Image -->
                                        <label for="article image">Article Image</label>
                                        <!-- Upload Image -->
                                        <div class="outer mt-half" *ngIf="!fileName">
                                            <div class="inner">
                                                <input type="file" name="articleImage" id="upload" accept="image/png,image/jpg,image/jpeg" style="display: none;" #upload (change)="fileUpload($event)">
                                                <img width="26" height="26" src="assets/upload-image.png" alt="browse">
                                                <span class="mt-half" (click)="upload.click()">Browse here</span>
                                                <span class="mt-half">Supports JPG, JPEG, PNG</span>
                                            </div>
                                        </div>
                                        <div class="filename mt-half" *ngIf="fileName">
                                            <span>
                                                <span class="image-icon">
                                                    <img width="24" height="24" src="assets/upload-image.png" alt="browse">
                                                    <span>{{fileName}}</span>
                                                </span>
                                            </span>
                                            <span>
                                                <button class="no-style cross" (click)="clearUploadedImage()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>
                                                </button>
                                            </span>
                                        </div>
                                        <span class="danger mt-qtr" *ngIf="imageError">Please upload article image *</span>
                                    </div>
                                    
                                    <div class="input-wrapper mt-one">
                                        <!-- Country -->
                                        <label for="country">Country</label>
                                        <!-- Regular Dropdown -->
                                        <div class="select mt-half">
                                            <nz-select nzAllowClear nzPlaceHolder="Select country" formControlName="country">
                                                <nz-option *ngFor="let country of allCountries" [nzLabel]="country.name" [nzValue]="country.name">
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                        <span class="danger mt-qtr" *ngIf="Country.dirty && !Country.valid">Please select country *</span>
                                        <!-- <select name="country" class="country-dropdown">
                                            <option *ngFor="let country of allCountries" [value]="country.name">{{country.name}}</option>
                                        </select> -->
                                    </div>

                                    <div class="input-wrapper mt-one">
                                        <!-- Author -->
                                        <label for="author">Author</label>
                                        <input class="mt-half" type="text" placeholder="Enter Author name" formControlName="author">
                                        <span class="danger mt-qtr" *ngIf="Author.dirty && !Author.valid">Please enter author name *</span>
                                    </div>

                                    <div class="input-wrapper mt-one">
                                        <!-- Category -->
                                        <label for="category">Category</label>
                                        <!-- Multiselect Dropdown -->
                                        <ng-multiselect-dropdown class="ng-multiselect-drowdown mt-half" [placeholder]="'Select category'"
                                            [settings]="dropdownSettings" [data]="allCategories" formControlName="category">
                                        </ng-multiselect-dropdown>
                                        <span class="danger mt-qtr" *ngIf="Category.dirty && !Category.valid">Please select category *</span>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <ng-template #footer>
                            <div class="drawer-footer">
                                <button *ngIf="!loading" class="cancel" (click)="cancel()">Cancel</button>
                                <button type="submit" (click)="addNewArticle( editArticle ? true : false)" class="submit">
                                    <span [style.display]="loading ? 'inline-block' : 'none'" class="loader"></span>
                                    {{editArticle ? 'Save' : 'Add Article'}}
                                </button>
                            </div>
                        </ng-template>
                    </nz-drawer>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>