.header-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.profile-dropdown{
    width: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    padding: 0.5rem 1rem;
    background: rgba(219, 246, 255, 1);
    border-radius: 8px;
    cursor: default;
}

.profile-dropdown:nth-child(2){
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.article-title{
    font-weight: 600;
    font-size: 32px;
    color: rgba(10, 2, 38, 1);
}

.article-container{
    padding: 3rem 85px 0 85px;
    height: calc(100vh - 64px);
}

.article-container *{
    font-family: 'Inter', sans-serif;
}

.content{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    gap: 1.5rem;
}

.options{
    padding: 1rem;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
}

.filter-section *{
    color: rgba(128, 128, 128, 1);
}

.ng-multiselect-drowdown ::ng-deep .dropdown-list{
    margin-top: 0;
    box-shadow: none;
}

.ng-multiselect-drowdown ::ng-deep .multiselect-item-checkbox input[type='checkbox']+div::before{
    border: 1px solid rgba(189, 197, 199, 1) !important;
    border-radius: 4px;
}

.ng-multiselect-drowdown ::ng-deep .multiselect-item-checkbox input[type='checkbox']:checked+div::before{
    background: #01C0FC !important;
    border: 1px solid #01C0FC !important;
}

.ng-multiselect-drowdown ::ng-deep .multiselect-item-checkbox input[type='checkbox']:checked+div::after{
   top: 49%;
   left: 3px;
   border-width: 0 0 2px 2px;
}

.ng-multiselect-drowdown ::ng-deep .selected-item-container .selected-item{
    background-color: #dbf6ff !important;
    border: 1px solid #dbf6ff !important;
    border-radius: 4px !important;
}

.ng-multiselect-drowdown ::ng-deep .selected-item-container .selected-item:hover{
    box-shadow: none !important;
}

.ng-multiselect-drowdown ::ng-deep .selected-item-container .selected-item span{
    color: rgba(10, 2, 38, 1) !important;
}

.ng-multiselect-drowdown ::ng-deep .selected-item-container .selected-item a{
    color: #779faf !important;
}

.ng-multiselect-drowdown ::ng-deep *{
    font-family: 'Inter', sans-serif;
}

.ng-multiselect-drowdown ::ng-deep .dropdown-multiselect__caret::before{
    top: 60%;
    border-width: 5px 5px 0 !important;
}

.ng-multiselect-drowdown ::ng-deep .dropdown-btn{
    border: 1px solid #ebebeb !important;
}

.ng-multiselect-drowdown ::ng-deep .dropdown-list{
    width: 100%;
    max-height: 11.2rem;
    overflow: auto;
}

.ng-multiselect-drowdown ::ng-deep .dropdown-list .item2{
    max-height: none !important;
}

.ng-multiselect-drowdown ::ng-deep .multiselect-dropdown{
    margin-top: 4px;
}

.ng-multiselect-drowdown ::ng-deep .multiselect-dropdown *{
    color: rgba(128, 128, 128, 1);
}


nz-range-picker{
    border: 1px solid #ebebeb !important;
    border-radius: 4px !important;
}

.add-article{
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
}

.badge ::ng-deep .ant-scroll-number{
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
}

.input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    font-weight: 400;
    line-height: 18px;
    color: rgba(128, 128, 128, 1);
}

.input-wrapper input[type="text"], .input-wrapper textarea{
    border-radius: 8px;
    border: 1px solid rgba(235, 235, 235, 1);
    padding: 1rem;
}

.input-wrapper input:focus-visible, .input-wrapper textarea:focus-visible{
    outline: none;
}

.input-wrapper input[type="text"]::placeholder{
    color: rgba(128, 128, 128, 1);
}

.drawer-footer{
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
}

.drawer-footer button{
    width: 100%;
    padding: 6px 38px 6px 38px;
    border: 1px solid;
    border-radius: 8px;
    line-height: 26px;
    font-weight: 600;
}

.drawer-footer button:first-of-type{
    color: #01C0FC;
    border: 1px solid linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
    background-color: transparent;
}

.drawer-footer button:last-of-type{
    color: #fff;
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);

}

.input-wrapper .ng-multiselect-drowdown ::ng-deep .multiselect-dropdown *{
    color: rgba(128, 128, 128, 1);
}

.input-wrapper .ng-multiselect-drowdown ::ng-deep .dropdown-btn{
    border-radius: 8px;
    padding: 1rem;
}

.input-wrapper .ng-multiselect-drowdown ::ng-deep .dropdown-multiselect__caret{
    top: 10px !important;
}

.select{
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
}

.select ::ng-deep .ant-select{
    width: 100%;
    padding: 0.5rem;
}

.select ::ng-deep .ant-select-selector{
    border: none;
}

.outer{
    padding: 2rem;
    border: 2px dashed rgba(235, 235, 235, 1);
    border-radius: 8px;
    background: rgba(245, 252, 255, 1);
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner span:first-of-type{
    font-weight: 600;
    color: rgba(30, 66, 255, 1);
    text-decoration: underline;
    cursor: pointer;
    line-height: 18px;
}

.inner span:last-of-type{
    font-size: 12px;
    color: rgba(165, 165, 165, 1);
    line-height: 18px;
}

.danger{
    color: red;
    font-size: 12px;
    font-weight: 400;
}

.image-icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.image-icon span{
    text-transform: capitalize;
}

.filename{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
}

.cross{
    display: flex;
    cursor: pointer;
}

.loader{
    display: none;
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.submit, .cancel{
    cursor: pointer;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
/* .article-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    height: calc(100vh - 226px);
    overflow: auto;
    padding-bottom: 1rem;
}

.card{
    height: 25rem;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card *{
    font-family: 'Inter', sans-serif;
}

.image-section{
    position: relative;
    height: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-section .article-backdrop{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.country-chip{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 5px 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.5rem;
    font-size: 12px;
    font-weight: 600;
}


.info-section{
    padding: 1rem;
}

.title-section{
    display: flex;
    position: relative;
    min-height: 3rem;
}

.extra-actions{
    position: absolute;
    right: 0;
}

.no-style{
    padding: 0;
}

.title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 94%;
}

.desc{
    font-size: 12px;
    color: rgba(128, 128, 128, 1);
}

.tags{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 3rem;
}

.tag{
    background: rgba(219, 246, 255, 1);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 11px;
}

.footer, .author-info{
    display: flex;
}

.footer{
    position: absolute;
    bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.author-info{
    align-items: center;
}

.icon{
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
    background: rgba(215, 215, 215, 1);
}

.name{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.pub-date{
    font-size: 12px;
    font-weight: 500;
}

.article-section::-webkit-scrollbar{
    width: 6px;
    margin-left: 2px;
}

.article-section::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
} */