.add-article{
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.badge ::ng-deep .ant-scroll-number{
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
}

.article-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    height: calc(100vh - 226px);
    overflow: auto;
}

.card{
    height: 25rem;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card *{
    font-family: 'Inter', sans-serif;
}

.image-section{
    position: relative;
    height: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-section .article-backdrop{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.country-chip{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 5px 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.5rem;
    font-size: 12px;
    font-weight: 600;
}


.info-section{
    padding: 1rem;
}

.title-section{
    display: flex;
    position: relative;
    min-height: 3rem;
}

.extra-actions{
    position: absolute;
    right: 0;
}

.no-style{
    padding: 0;
}

.title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 94%;
}

.desc{
    font-size: 12px;
    color: rgba(128, 128, 128, 1);
}

.tags{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 3rem;
}

.tag{
    background: rgba(219, 246, 255, 1);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 11px;
}

.footer, .author-info{
    display: flex;
}

.footer{
    position: absolute;
    bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.author-info{
    align-items: center;
}

.icon{
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
    background: rgba(215, 215, 215, 1);
}

.name{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.pub-date{
    font-size: 12px;
    font-weight: 500;
}

.modal-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


.modal-outer .delete-icon{
    padding: 1rem;
    border-radius: 50%;
    background: rgba(255, 237, 235, 1);
}

.modal-outer .text{
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
}

.modal-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.modal-buttons button{
    padding: 6px 35px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}

.no{
    color: #01C0FC;
    border: 1px solid #01C0FC;
}

.yes{
    color: #fff;
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
}