<div class="article-section" [ngStyle]="{'grid-template-columns' : allArticles.length > 0 ? 'repeat(3, 1fr)' : '1fr'}">
    <ng-container *ngIf="allArticles.length > 0 else notFound">
        <div *ngFor="let article of allArticles" class="card">
            <div class="image-section">
                <img class="article-backdrop" [src]="article?.image_url" alt="Article Image">
                <div class="country-chip">
                    <img src="assets/flags/{{article?.country_code?.toLowerCase()}}.png" [alt]="article.country" width="20" height="15">
                    <div class="country-code">{{article?.country_code?.toUpperCase()}}</div>
                </div>
            </div>
            <div class="info-section">
                <div class="title-section">
                    <div class="title">
                        {{article?.title}}
                    </div>
                    <div class="extra-actions">
                        <nz-button-group>
                            <button class="no-style" nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" nzTrigger="click">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                            </button>
                        </nz-button-group>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item (click)="toggleModal(article.id, true, article)">Edit</li>
                                <li nz-menu-item (click)="toggleModal(article.id)">Delete</li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>
                </div>
                <div class="desc mt-half">
                    {{article?.description?.length > 120 ? article?.description?.slice(0, 120) + '...' : article?.description }}
                </div>
                <div class="tags mt-one">
                    <ng-container *ngFor="let category of article?.category; let i = index">
                        <div class="tag" *ngIf="i < 2">
                            {{category?.text}}
                        </div>
                    </ng-container>
                    <div class="tag" *ngIf="article?.category?.length > 2">+{{article?.category?.length - 2}}</div>
                </div>
                <div class="footer">
                    <div class="author-info">
                        <div class="icon">{{article?.author?.slice(0,1)}}</div>
                        <div class="name ml-half">{{article?.author}}</div>
                    </div>
                    <div class="pub-date">
                        {{returnDate(article?.created_at)}}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #notFound>
        <div class="not-found">
            No Articles Found!
        </div>
    </ng-template>
</div>
<nz-modal [(nzVisible)]="showModal" nzCentered [nzFooter]="null" [nzClosable]="false">
    <ng-container *nzModalContent>
      <div class="modal-outer">
        <span class="delete-icon">
            <img src="assets/delete-icon.png" width="20" height="20" alt="Delete">
        </span>
        <div class="text mt-one">
            Are you sure you want to delete?
        </div>
        <div class="modal-buttons mt-one">
            <button class="no-style no" (click)="emitEvent(false)">No</button>
            <button class="no-style yes" (click)="emitEvent(true)">Yes</button>
        </div>
      </div>
    </ng-container>
</nz-modal>