/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-layout-header{
    line-height: 0;
    padding: 10px 85px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(26, 26, 26, 0.08);
    z-index: 2;
}

.no-style{
    border: none;
    background: transparent;
    box-shadow: none;
    color: rgba(10, 2, 38, 1);
}

.no-style:hover{
    color: rgba(10, 2, 38, 1);
    background: transparent;
}

.ant-btn.no-style:active, .no-style:focus{
    color: rgba(10, 2, 38, 1);
}

.ant-layout-content{
    background: rgba(255, 255, 255, 1);
}

.mt-one{
    margin-top: 1rem;
}

.ant-dropdown{
    margin-top: 0;
}

.mt-half{
    margin-top: 0.5rem;
}

.ant-tabs-tab:first-of-type{
    padding: 12px;
}

.ant-tabs-tab + .ant-tabs-tab{
    margin: 0;
    padding: 12px;
}

.ant-tabs-tab:hover, .ant-tabs-tab-active .ant-tabs-tab-btn{
    color: rgba(10, 2, 38, 1) !important;
}

.ant-tabs-tab{
    color: rgba(39, 24, 93, 1) !important;
}

.ml-half{
    margin-left: 0.5rem;
}

.ant-tabs-nav::before{
    border-bottom: none !important;
}

.ant-tabs-nav-list{
    border-bottom: 1px solid #ebebeb;
}

.ant-tabs-ink-bar {
    height: 5px;
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
}

.mt-4p{
    margin-top: 4px;
}

.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:last-child {
  display: none;
}

.ant-picker-panel-container, .ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important; 
}

.ant-drawer-content-wrapper{
    border-top-left-radius: 8px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
}

.ant-drawer-content-wrapper *{
    font-family: 'Inter', sans-serif;
}

.ant-drawer-header{
    height: 70px;
    background: rgba(235, 235, 235, 1);
    font-weight: 500;
}


.ant-drawer-body{
    padding-bottom: 0.5rem;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-color: none;
    box-shadow: none;
}

.ant-select-selection-placeholder{
    color: rgba(128, 128, 128, 1);
}

.mt-qtr{
    margin-top: 0.25rem;
}

.ant-modal-body{
    padding: 40px;
}

.ant-modal{
    width: max-content !important;
    border-radius: 8px;
    overflow: hidden;
}

*::-webkit-scrollbar{
    width: 6px;
    margin-left: 2px;
}

*::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: linear-gradient(95.39deg, #01C0FC 9.17%, #00B1FD 100.28%);
}

.toast-message{
    font-family: 'Inter', sans-serif;
}